<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.kullaniciConnectionString"
            connectionString="Data Source=IPKMRKNB082\SQLEXPRESS;Initial Catalog=kullanici;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>